@import "color";

button{
    border-radius: 10px;
    padding: 15px;
    &:hover{
        cursor: pointer;
    }
}

@mixin btn-pr{
    border: 2px solid #ffffff;
    border-radius: 4px;
    width: 60%;
    align-items: center;
}

.btn-primary{
    @include btn-pr;
    background-color: transparent;
    font-weight: bold;
    color: white;
    &:hover{
        transition: ease 0.5s;
        background-color: darken($red-color-primary, 3%);
    }
}



@mixin medsos-btn{
    width: 64px;
    height: 64px;
    padding: 10px;
    margin-left: 10px;
            margin-right: 10px;
            border-radius: 100px;
            border: 2px solid $red-color-primary;
            background-color: transparent;
            color: $red-color-primary;
            &:hover{
                transition: ease 0.4s;
                background-color: $red-color-primary;
                color: white;

            }
}



