// FLAT COLOR PALETTE
$red-color-primary : #6A63DD;
$orange-color-primary: #E17A47;
$yellow-color-primary:#EFC958;
$blue-color-light: #4AB19D;
$blue-color-dark: #344E5C;
$white-cloud: #ecf0f1;
$gray-text:#7f8c8d;