@import "button", "color","form","layout";


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }






.bg-back{
    background-color: #ecf0f1;
}
.container{
    width:75vw;
    margin: auto;
    .flex{
        display: flex;
        height: 100vh;
    }
    .flexdash{
        display: flex;
        height:90vh;
    }
}
.navbar{
    @include flexrow;
    height: 10vh;
    background-color: $red-color-primary;
    justify-content: space-between;
    
    div{
        padding: 20px 50px; 
    }
    a{
        text-decoration: none;
    }
    .link{
        font-weight: bold;
        color: white;
        &:hover{
            background-color: darken($red-color-primary, 5%);
        }
    }
}

.sidebar{
    display: flex;
    flex:30;
    flex-direction: column;
    justify-content: center;
    background-color: $red-color-primary;
    text-align: center;
    padding : 0px 20px;
    .userinfo{
        
        img{
            width: 128px;
            height: 128px;
            border-radius: 100px;
            border: 4px solid lighten($red-color-primary, 5%);
        }
        h4{
            
            color: white;
        }
    }
    .welcome{
        color:white;
        margin-bottom: -10px;
    }
    .side-para{
        line-height: 30px;
        color:white;
    }
    .menu-left{
        @include flexcolumn;
        button{
            background-color: transparent;
            border: none;
            border-radius: 2px;
            font-weight: bold;
            border-bottom: 2px solid darken($red-color-primary, 3%);
            color: white;
            text-align: left;
            &:hover{
                background-color: darken($red-color-primary, 5%);
                transition: ease .2s;
            }
        }
    }
}

.rightbar{
    flex:70;
    background-color: white;
    padding: 70px 80px 100px 80px;

    ul{
        padding: 0;
        li{
            @include flexrow;
            justify-content: space-between;
            list-style: none;
            padding: 20px;
            background-color: $white-cloud;
            margin-bottom:5px;
            &:hover{
                background-color: darken($white-cloud, 5%);
            }
            p{
                margin:0;
            }
            label{
                cursor: pointer;
            }
            div{
                i{
                    margin-right: 15px;
                    color:$red-color-primary;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    h1{
        color: $red-color-primary;
        text-align: center;
    }

    .social-media{
        @include flexrow;
        button {
            @include medsos-btn;
        }
        margin-bottom: 1rem;
    }

    .form-add{
        @include flexrow;
       input{
           margin-right: 5px;
       }
        button{
            color : white;
            background-color: $red-color-primary;
            margin-top: 0;
            &:hover{
                background-color: darken($red-color-primary, 5%);
            }
        }
    }

    form{
        @include flexcolumn;
        p{
            text-align: center;
            color: $gray-text;
        }
        input{
            @include styleform;
            margin-bottom: 0.5rem;
           
            &:focus{
                border: solid 2px $red-color-primary;
                outline: none;
            }
        }
        span{
           
            padding-left: 60px;
            color: $gray-text;
            a{
                color:$red-color-primary;
            }
        }
        button{
            @include btn-pr;
            font-weight: bold;
            background-color: white;
            border: 2px solid $red-color-primary;
            color: $red-color-primary;
            width: 40%;
            margin: auto;
            margin-top: 1.5rem;
            &:hover{
                transition: ease 0.5s;
                color:white;
                background-color: $red-color-primary;
            }
        }
    }
}


